<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <typeAliases>
        <typeAlias alias="IResolver" type="ZXMAK2.Dependency.IResolver, ZXMAK2.Dependency" />
        <typeAlias alias="ResolverUnity" type="ZXMAK2.Dependency.ResolverUnity, ZXMAK2.Dependency" />

        <typeAlias alias="IUserMessage" type="ZXMAK2.Host.Interfaces.IUserMessage, ZXMAK2.Host" />
        <typeAlias alias="UserMessage" type="ZXMAK2.Host.Services.UserMessage, ZXMAK2.Host" />

        <typeAlias alias="IUserQuery" type="ZXMAK2.Host.Interfaces.IUserQuery, ZXMAK2.Host" />
        <typeAlias alias="UserQueryProxy" type="ZXMAK2.Host.Services.UserQueryProxy, ZXMAK2.Host" />
        <typeAlias alias="UserQuery_WinForms" type="ZXMAK2.Host.WinForms.Services.UserQuery, ZXMAK2.Host.WinForms" />

        <typeAlias alias="IUserHelp" type="ZXMAK2.Host.Interfaces.IUserHelp, ZXMAK2.Host" />
        <typeAlias alias="UserHelpProxy" type="ZXMAK2.Host.Services.UserHelpProxy, ZXMAK2.Host" />
        <typeAlias alias="UserHelp_WinForms" type="ZXMAK2.Host.WinForms.Services.UserHelp, ZXMAK2.Host.WinForms" />

        <typeAlias alias="ILauncher" type="ZXMAK2.Host.Presentation.Interfaces.ILauncher, ZXMAK2.Host.Presentation" />
        <typeAlias alias="Launcher" type="ZXMAK2.Host.Presentation.Launcher, ZXMAK2.Host.Presentation" />

        <!-- main view -->
        <typeAlias alias="IMainPresenter" type="ZXMAK2.Host.Presentation.Interfaces.IMainPresenter, ZXMAK2.Host.Presentation" />
        <typeAlias alias="MainPresenter" type="ZXMAK2.MVP.MainPresenter, ZXMAK2" />

        <typeAlias alias="IMainView" type="ZXMAK2.Host.Presentation.Interfaces.IMainView, ZXMAK2.Host.Presentation" />
        <typeAlias alias="WinFormMainView" type="ZXMAK2.Host.WinForms.Views.MainView, ZXMAK2.Host.WinForms" />
        <typeAlias alias="XnaMainView" type="ZXMAK2.Host.Xna4.Views.MainView, ZXMAK2.Host.Xna4" />

        <typeAlias alias="IAboutView" type="ZXMAK2.Controls.IAboutView, ZXMAK2" />
        <typeAlias alias="WinFormsAboutView" type="ZXMAK2.Controls.FormAbout, ZXMAK2" />

        <typeAlias alias="IKeyboardView" type="ZXMAK2.Controls.IKeyboardView, ZXMAK2" />
        <typeAlias alias="WinFormsKeyboardView" type="ZXMAK2.Controls.FormKeyboardHelp, ZXMAK2" />

        <typeAlias alias="IDebuggerGeneralView" type="ZXMAK2.Hardware.General.UI.IDebuggerGeneralView, ZXMAK2" />
        <typeAlias alias="WinFormsDebuggerGeneralView" type="ZXMAK2.Hardware.General.UI.FormCpu, ZXMAK2" />

        <typeAlias alias="IDebuggerSprinterView" type="ZXMAK2.Hardware.Sprinter.UI.IDebuggerSprinterView, ZXMAK2" />
        <typeAlias alias="WinFormsDebuggerSprinterView" type="ZXMAK2.Hardware.Sprinter.UI.DebugForm, ZXMAK2" />

        <typeAlias alias="IFddDebugView" type="ZXMAK2.Controls.Debugger.IFddDebugView, ZXMAK2" />
        <typeAlias alias="WinFormsFddDebugView" type="ZXMAK2.Controls.Debugger.dbgWD1793, ZXMAK2" />

        <typeAlias alias="IMemoryMapView" type="ZXMAK2.Controls.Debugger.IMemoryMapView, ZXMAK2" />
        <typeAlias alias="WinFormsMemoryMapView" type="ZXMAK2.Controls.Debugger.FormMemoryMap, ZXMAK2" />

        <typeAlias alias="ITapeView" type="ZXMAK2.Controls.ITapeView, ZXMAK2" />
        <typeAlias alias="WinFormsTapeView" type="ZXMAK2.Controls.TapeForm, ZXMAK2" />

        <typeAlias alias="IDebuggerAdlersView" type="ZXMAK2.Hardware.Adlers.UI.IDebuggerAdlersView, ZXMAK2" />
        <typeAlias alias="WinFormsDebuggerAdlersView" type="ZXMAK2.Hardware.Adlers.UI.FormCpu, ZXMAK2" />
    </typeAliases>

    <containers>
        <container>
            <!-- 
                Allowed values: winforms, xna 
            -->
            <instance name="viewType" value="winforms" type="System.String" />

            <register type="IResolver" mapTo="ResolverUnity" name="View">
                <constructor>
                    <param name="containerName">
                        <dependency name="viewType" />
                    </param>
                </constructor>
                <lifetime type="transient" />
            </register>

            <register type="ILauncher" mapTo="Launcher">
                <lifetime type="singleton" />
            </register>
            <register type="IUserMessage" mapTo="UserMessage">
                <lifetime type="transient" />
            </register>
            <register type="IUserQuery" mapTo="UserQueryProxy">
                <lifetime type="transient" />
            </register>
            <register type="IUserHelp" mapTo="UserHelpProxy">
                <lifetime type="transient" />
            </register>


            <register type="IMainPresenter" mapTo="MainPresenter">
                <lifetime type="transient" />
            </register>
        </container>

        <container name="winforms">
            <!-- Services -->
            <register type="IUserMessage" mapTo="UserMessage">
                <lifetime type="transient" />
            </register>
            <register type="IUserQuery" mapTo="UserQuery_WinForms">
                <lifetime type="transient" />
            </register>
            <register type="IUserHelp" mapTo="UserHelp_WinForms">
                <lifetime type="transient" />
            </register>

            <!-- Emulator UI -->
            <register type="IMainView" mapTo="WinFormMainView">
                <property name="KeyboardMapFile" value="Keyboard.Mdx.config" />
                <lifetime type="transient" />
            </register>
            <register type="IAboutView" mapTo="WinFormsAboutView">
                <lifetime type="transient" />
            </register>
            <register type="IKeyboardView" mapTo="WinFormsKeyboardView">
                <lifetime type="transient" />
            </register>
            <register type="IDebuggerGeneralView" mapTo="WinFormsDebuggerGeneralView">
                <lifetime type="transient" />
            </register>

            <!-- Device UI -->
            <register type="IDebuggerSprinterView" mapTo="WinFormsDebuggerSprinterView">
                <lifetime type="transient" />
            </register>
            <register type="IFddDebugView" mapTo="WinFormsFddDebugView">
                <lifetime type="transient" />
            </register>
            <register type="IMemoryMapView" mapTo="WinFormsMemoryMapView">
                <lifetime type="transient" />
            </register>
            <register type="ITapeView" mapTo="WinFormsTapeView">
                <lifetime type="transient" />
            </register>
            <register type="IDebuggerAdlersView" mapTo="WinFormsDebuggerAdlersView">
                <lifetime type="transient" />
            </register>
        </container>

        <container name="xna">
            <!-- Services -->
            <register type="IUserMessage" mapTo="UserMessage">
                <lifetime type="transient" />
            </register>
            <register type="IUserQuery" mapTo="UserQuery_WinForms">
                <lifetime type="transient" />
            </register>

            <!-- Emulator UI -->
            <register type="IMainView" mapTo="XnaMainView">
                <property name="KeyboardMapFile" value="Keyboard.Xna.config" />
                <lifetime type="transient" />
            </register>
            <register type="IAboutView" mapTo="WinFormsAboutView">
                <lifetime type="transient" />
            </register>
            <register type="IKeyboardView" mapTo="WinFormsKeyboardView">
                <lifetime type="transient" />
            </register>
            <register type="IDebuggerGeneralView" mapTo="WinFormsDebuggerGeneralView">
                <lifetime type="transient" />
            </register>

            <!-- Device UI -->
            <register type="IDebuggerSprinterView" mapTo="WinFormsDebuggerSprinterView">
                <lifetime type="transient" />
            </register>
            <register type="IFddDebugView" mapTo="WinFormsFddDebugView">
                <lifetime type="transient" />
            </register>
            <register type="IMemoryMapView" mapTo="WinFormsMemoryMapView">
                <lifetime type="transient" />
            </register>
            <register type="ITapeView" mapTo="WinFormsTapeView">
                <lifetime type="transient" />
            </register>
            <register type="IDebuggerAdlersView" mapTo="WinFormsDebuggerAdlersView">
                <lifetime type="transient" />
            </register>
        </container>
    </containers>
</unity>
