<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <alias alias="IUserQuery" type="ZXMAK2.Interfaces.IUserQuery, ZXMAK2" />
    <alias alias="UserQuery" type="ZXMAK2.WinForms.UserQuery, ZXMAK2.WinForms" />

    <alias alias="IUserMessage" type="ZXMAK2.Interfaces.IUserMessage, ZXMAK2" />
    <alias alias="UserMessage" type="ZXMAK2.Presentation.UserMessage, ZXMAK2.Presentation" />

    <alias alias="IViewResolver" type="ZXMAK2.MVP.Interfaces.IViewResolver, ZXMAK2" />
    <alias alias="ViewResolver" type="ZXMAK2.Presentation.ViewResolver, ZXMAK2.Presentation" />

    <alias alias="ILauncher" type="ZXMAK2.Interfaces.ILauncher, ZXMAK2" />
    <alias alias="Launcher" type="ZXMAK2.Presentation.Launcher, ZXMAK2.Presentation" />

    <!-- main view -->
    <alias alias="IMainPresenter" type="ZXMAK2.MVP.Interfaces.IMainPresenter, ZXMAK2" />
    <alias alias="MainPresenter" type="ZXMAK2.MVP.MainPresenter, ZXMAK2" />

    <alias alias="IMainView" type="ZXMAK2.MVP.Interfaces.IMainView, ZXMAK2" />
    <alias alias="WinFormMainView" type="ZXMAK2.WinForms.MainView, ZXMAK2.WinForms" />
    <alias alias="XnaMainView" type="ZXMAK2.XNA4.Views.MainView, ZXMAK2.XNA4" />

    <alias alias="IAboutView" type="ZXMAK2.Controls.IAboutView, ZXMAK2" />
    <alias alias="WinFormsAboutView" type="ZXMAK2.Controls.FormAbout, ZXMAK2" />

    <alias alias="IKeyboardView" type="ZXMAK2.Controls.IKeyboardView, ZXMAK2" />
    <alias alias="WinFormsKeyboardView" type="ZXMAK2.Controls.FormKeyboardHelp, ZXMAK2" />

    <alias alias="IDebuggerGeneralView" type="ZXMAK2.Hardware.General.UI.IDebuggerGeneralView, ZXMAK2" />
    <alias alias="WinFormsDebuggerGeneralView" type="ZXMAK2.Hardware.General.UI.FormCpu, ZXMAK2" />

    <alias alias="IDebuggerSprinterView" type="ZXMAK2.Hardware.Sprinter.UI.IDebuggerSprinterView, ZXMAK2" />
    <alias alias="WinFormsDebuggerSprinterView" type="ZXMAK2.Hardware.Sprinter.UI.DebugForm, ZXMAK2" />

    <alias alias="IFddDebugView" type="ZXMAK2.Controls.Debugger.IFddDebugView, ZXMAK2" />
    <alias alias="WinFormsFddDebugView" type="ZXMAK2.Controls.Debugger.dbgWD1793, ZXMAK2" />

    <alias alias="IMemoryMapView" type="ZXMAK2.Controls.Debugger.IMemoryMapView, ZXMAK2" />
    <alias alias="WinFormsMemoryMapView" type="ZXMAK2.Controls.Debugger.FormMemoryMap, ZXMAK2" />

    <alias alias="ITapeView" type="ZXMAK2.Controls.ITapeView, ZXMAK2" />
    <alias alias="WinFormsTapeView" type="ZXMAK2.Controls.TapeForm, ZXMAK2" />

    <alias alias="IDebuggerAdlersView" type="ZXMAK2.Hardware.Adlers.UI.IDebuggerAdlersView, ZXMAK2" />
    <alias alias="WinFormsDebuggerAdlersView" type="ZXMAK2.Hardware.Adlers.UI.FormCpu, ZXMAK2" />

    <container>
        <register type="IViewResolver" mapTo="ViewResolver">
            <constructor>
                <param name="resolver" />
                <param name="viewTypes" value="WinForms, XNA" />
            </constructor>
            <lifetime type="singleton" />
        </register>
        
        <register type="ILauncher" mapTo="Launcher">
            <lifetime type="singleton" />
        </register>
        <register type="IUserQuery" mapTo="UserQuery">
            <lifetime type="transient" />
        </register>
        <register type="IUserMessage" mapTo="UserMessage">
            <lifetime type="transient" />
        </register>
        <register type="IMainPresenter" mapTo="MainPresenter">
            <lifetime type="transient" />
        </register>

        <register type="IMainView" mapTo="WinFormMainView" name="WinForms">
            <property name="KeyboardMapFile" value="KeyboardMap.Mdx.xml" />
            <lifetime type="transient" />
        </register>
<!--
        <register type="IMainView" mapTo="XnaMainView" name="XNA">
            <property name="KeyboardMapFile" value="KeyboardMap.Xna.xml" />
            <lifetime type="transient" />
        </register>
-->
        <register type="IAboutView" mapTo="WinFormsAboutView" name="WinForms">
            <lifetime type="transient" />
        </register>
        <register type="IKeyboardView" mapTo="WinFormsKeyboardView" name="WinForms">
            <lifetime type="transient" />
        </register>
        <register type="IDebuggerGeneralView" mapTo="WinFormsDebuggerGeneralView" name="WinForms">
            <lifetime type="transient" />
        </register>

        <register type="IDebuggerSprinterView" mapTo="WinFormsDebuggerSprinterView" name="WinForms">
            <lifetime type="transient" />
        </register>
        <register type="IFddDebugView" mapTo="WinFormsFddDebugView" name="WinForms">
            <lifetime type="transient" />
        </register>
        <register type="IMemoryMapView" mapTo="WinFormsMemoryMapView" name="WinForms">
            <lifetime type="transient" />
        </register>
        <register type="ITapeView" mapTo="WinFormsTapeView" name="WinForms">
            <lifetime type="transient" />
        </register>
        <register type="IDebuggerAdlersView" mapTo="WinFormsDebuggerAdlersView" name="WinForms">
            <lifetime type="transient" />
        </register>
    </container>
</unity>
